In [58]:
import pandas as pd

# File paths
ddinter_path = "data/ddinter_downloads_code_A.csv"
drug_cids_path = "data/drug_cids.csv"
pubchem_path = "data/pubchem_data.csv"

In [59]:
# Load DataFrames
ddinter_df = pd.read_csv(ddinter_path)
drug_cids_df = pd.read_csv(drug_cids_path)
pubchem_df = pd.read_csv(pubchem_path)

In [60]:
# Show the first few rows to check the data
ddinter_df.head()

   DDInterID_A              Drug_A  DDInterID_B        Drug_B     Level
0  DDInter1263          Naltrexone     DDInter1      Abacavir  Moderate
1     DDInter1            Abacavir  DDInter1348      Orlistat  Moderate
2    DDInter58  Aluminum hydroxide   DDInter582  Dolutegravir     Major
3   DDInter112          Aprepitant   DDInter582  Dolutegravir     Minor
4   DDInter138         Attapulgite   DDInter582  Dolutegravir     Major

In [61]:
# Keep only the relevant columns: 'Drug_A', 'Drug_B', and 'Level'
ddinter_df = ddinter_df[['Drug_A', 'Drug_B', 'Level']]

# Display the filtered DataFrame
ddinter_df.head()

               Drug_A        Drug_B     Level
0          Naltrexone      Abacavir  Moderate
1            Abacavir      Orlistat  Moderate
2  Aluminum hydroxide  Dolutegravir     Major
3          Aprepitant  Dolutegravir     Minor
4         Attapulgite  Dolutegravir     Major

In [62]:
drug_cids_df.head()

    Drug Name       CIDs
0  Naltrexone     4428.0
1  Naltrexone  5360515.0
2  Naltrexone  5702239.0
3  Naltrexone  6321302.0
4  Naltrexone  6604527.0

In [63]:
pubchem_df.head()

,cid,cmpdname,cmpdsynonym,mw,mf,polararea,complexity,xlogp,heavycnt,hbonddonor,...,gpidcnt,gpfamilycnt,meshheadings,annothits,annothitcnt,aids,cidcdate,sidsrcname,depcatg,annotation
0,4428,"3-(cyclopropylmethyl)-4a,9-dihydroxy-2,4,5,6,7...","3-(cyclopropylmethyl)-4a,9-dihydroxy-2,4,5,6,7...",341.4,C20H23NO4,70.0,621.0,1.9,25,2,...,76,32,NaN,Biological Test Results|Classification|Literat...,6,2063|624101|624136|624137|624138|624139|624141...,20050325,ABI Chem|AKos Consulting & Solutions|Angel Pha...,Chemical Vendors|Curation Efforts|Governmental...,NaN
1,5360515,Naltrexone,naltrexone|16590-41-3|Vivitrex|Vivitrol|ReVia|...,341.4,C20H23NO4,70.0,621.0,1.9,25,2,...,41424,8081,Naltrexone,Biological Test Results|Interactions and Pathw...,17,1332|2240|2241|2275|2313|2316|2322|2330|2517|2...,20050624,"001Chemical|3WAY PHARM INC|A&J Pharmtech CO., ...",Chemical Vendors|Curation Efforts|Governmental...,C78272 - Agent Affecting Nervous System > C681...
2,5702239,"(4R,4aS,7aR)-3-(cyclopropylmethyl)-4a,9-dihydr...",Spectrum_001645|Spectrum2_001547|Spectrum3_001...,341.4,C20H23NO4,70.0,621.0,1.9,25,2,...,12,10,NaN,Biological Test Results|Classification|Patents...,4,940|1422|1580|1581|1582|1583|1584|1585|1586|15...,20060307,Broad Institute|Burnham Center for Chemical Ge...,Chemical Vendors|Curation Efforts|Governmental...,NaN
3,6321302,Tocris-0677,Tocris-0677|Lopac-N-3136|CHEMBL1437711|NCGC000...,341.4,C20H23NO4,70.0,621.0,1.9,25,2,...,0,0,NaN,Biological Test Results|Biological Test Result...,3,357|410|411|444|445|446|447|448|450|451|526|53...,20050629,ChEMBL|ChemSpider|MolGenie|National Center for...,Chemical Vendors|Curation Efforts|Governmental...,NaN
4,6604527,"(4R,4aR,7aS,12bS)-3-(cyclopropylmethyl)-4a,9-d...",CHEMBL1625662|NCGC00018224-01,341.4,C20H23NO4,70.0,621.0,1.9,25,2,...,0,0,NaN,NaN,0,NaN,20060530,ChEMBL|ChemSpider|MolGenie|National Center for...,Chemical Vendors|Curation Efforts|Governmental...,NaN

In [64]:
pubchem_df.dtypes

cid                         int64
cmpdname                   object
cmpdsynonym                object
mw                        float64
mf                         object
polararea                 float64
complexity                float64
xlogp                     float64
heavycnt                    int64
hbonddonor                  int64
hbondacc                    int64
rotbonds                    int64
inchi                      object
isosmiles                  object
canonicalsmiles            object
inchikey                   object
iupacname                  object
exactmass                 float64
monoisotopicmass          float64
charge                      int64
covalentunitcnt             int64
isotopeatomcnt              int64
totalatomstereocnt          int64
definedatomstereocnt        int64
undefinedatomstereocnt      int64
totalbondstereocnt          int64
definedbondstereocnt        int64
undefinedbondstereocnt      int64
pclidcnt                    int64
gpidcnt                     int64
gpfamilycnt                 int64
meshheadings               object
annothits                  object
annothitcnt                 int64
aids                       object
cidcdate                    int64
sidsrcname                 object
depcatg                    object
annotation                 object
dtype: object

In [65]:
# Drop non-relevant columns and keep only the 'cid' column and molecular descriptors
columns_to_keep = [
    'cid', 'mw', 'polararea', 'complexity', 'xlogp', 'heavycnt', 
    'hbonddonor', 'hbondacc', 'rotbonds', 'exactmass', 'monoisotopicmass', 
    'charge', 'covalentunitcnt', 'isotopeatomcnt', 'totalatomstereocnt', 
    'definedatomstereocnt', 'undefinedatomstereocnt', 'totalbondstereocnt', 
    'definedbondstereocnt', 'undefinedbondstereocnt'
]

# Filter the pubchem_df by keeping only the required columns
pubchem_df = pubchem_df[columns_to_keep]

# Display the filtered pubchem_df
pubchem_df.head()

,cid,mw,polararea,complexity,xlogp,heavycnt,hbonddonor,hbondacc,rotbonds,exactmass,monoisotopicmass,charge,covalentunitcnt,isotopeatomcnt,totalatomstereocnt,definedatomstereocnt,undefinedatomstereocnt,totalbondstereocnt,definedbondstereocnt,undefinedbondstereocnt
0,4428,341.4,70.0,621.0,1.9,25,2,5,2,341.163,341.163,0,1,0,4,0,4,0,0,0
1,5360515,341.4,70.0,621.0,1.9,25,2,5,2,341.163,341.163,0,1,0,4,4,0,0,0,0
2,5702239,341.4,70.0,621.0,1.9,25,2,5,2,341.163,341.163,0,1,0,4,3,1,0,0,0
3,6321302,341.4,70.0,621.0,1.9,25,2,5,2,341.163,341.163,0,1,0,4,4,0,0,0,0
4,6604527,341.4,70.0,621.0,1.9,25,2,5,2,341.163,341.163,0,1,0,4,4,0,0,0,0

In [66]:
# Drop rows where 'Level' is 'Unknown'
ddinter_df = ddinter_df[ddinter_df['Level'] != 'Unknown']

# Map 'Level' column from factors (strings) to integers
level_mapping = {'Minor': 0, 'Moderate': 1, 'Major': 2}
ddinter_df['Level'] = ddinter_df['Level'].map(level_mapping)

# Ensure 'Level' is of integer type for scikit-learn
ddinter_df['Level'] = ddinter_df['Level'].astype(int)

# Display the updated 'Level' column
ddinter_df[['Drug_A', 'Drug_B', 'Level']].head()

               Drug_A        Drug_B  Level
0          Naltrexone      Abacavir      1
1            Abacavir      Orlistat      1
2  Aluminum hydroxide  Dolutegravir      2
3          Aprepitant  Dolutegravir      0
4         Attapulgite  Dolutegravir      2

In [67]:
# Drop non-numerical columns from pubchem_df
pubchem_df = pubchem_df.select_dtypes(include=['number'])

# Show the first few rows of the cleaned pubchem_df
pubchem_df.head()

,cid,mw,polararea,complexity,xlogp,heavycnt,hbonddonor,hbondacc,rotbonds,exactmass,monoisotopicmass,charge,covalentunitcnt,isotopeatomcnt,totalatomstereocnt,definedatomstereocnt,undefinedatomstereocnt,totalbondstereocnt,definedbondstereocnt,undefinedbondstereocnt
0,4428,341.4,70.0,621.0,1.9,25,2,5,2,341.163,341.163,0,1,0,4,0,4,0,0,0
1,5360515,341.4,70.0,621.0,1.9,25,2,5,2,341.163,341.163,0,1,0,4,4,0,0,0,0
2,5702239,341.4,70.0,621.0,1.9,25,2,5,2,341.163,341.163,0,1,0,4,3,1,0,0,0
3,6321302,341.4,70.0,621.0,1.9,25,2,5,2,341.163,341.163,0,1,0,4,4,0,0,0,0
4,6604527,341.4,70.0,621.0,1.9,25,2,5,2,341.163,341.163,0,1,0,4,4,0,0,0,0

In [68]:
# Rename 'CIDs' to 'cid' in drug_cids_df before any join
drug_cids_df.rename(columns={'CIDs': 'cid'}, inplace=True)

# Check the first few rows to ensure the column is renamed
drug_cids_df.head()

    Drug Name        cid
0  Naltrexone     4428.0
1  Naltrexone  5360515.0
2  Naltrexone  5702239.0
3  Naltrexone  6321302.0
4  Naltrexone  6604527.0

In [69]:
# Merge drug_cids_df with pubchem_df on 'cid' for Drug_A
ddinter_drugA_joined = pd.merge(ddinter_df, drug_cids_df, left_on='Drug_A', right_on='Drug Name', how='inner')

# Merge with pubchem_df on 'cid' for Drug_A
ddinter_drugA_joined = pd.merge(ddinter_drugA_joined, pubchem_df, on='cid', how='inner')

# Rename columns for Drug_A (add _A suffix)
drug_a_columns = ['cid'] + list(pubchem_df.columns)  # cid and all the numerical properties from pubchem_df
ddinter_drugA_joined = ddinter_drugA_joined.rename(columns={col: f"{col}_A" for col in drug_a_columns})

# Display the result
ddinter_drugA_joined.head()

,Drug_A,Drug_B,Level,Drug Name,cid_A,mw_A,polararea_A,complexity_A,xlogp_A,heavycnt_A,...,monoisotopicmass_A,charge_A,covalentunitcnt_A,isotopeatomcnt_A,totalatomstereocnt_A,definedatomstereocnt_A,undefinedatomstereocnt_A,totalbondstereocnt_A,definedbondstereocnt_A,undefinedbondstereocnt_A
0,Naltrexone,Abacavir,1,Naltrexone,4428.0,341.4,70.0,621.0,1.9,25,...,341.163,0,1,0,4,0,4,0,0,0
1,Naltrexone,Abacavir,1,Naltrexone,5360515.0,341.4,70.0,621.0,1.9,25,...,341.163,0,1,0,4,4,0,0,0,0
2,Naltrexone,Abacavir,1,Naltrexone,5702239.0,341.4,70.0,621.0,1.9,25,...,341.163,0,1,0,4,3,1,0,0,0
3,Naltrexone,Abacavir,1,Naltrexone,6321302.0,341.4,70.0,621.0,1.9,25,...,341.163,0,1,0,4,4,0,0,0,0
4,Naltrexone,Abacavir,1,Naltrexone,6604527.0,341.4,70.0,621.0,1.9,25,...,341.163,0,1,0,4,4,0,0,0,0

In [70]:
# Merge drug_cids_df with pubchem_df on 'cid' for Drug_B
ddinter_drugA_drugB_joined = pd.merge(ddinter_drugA_joined, drug_cids_df, left_on='Drug_B', right_on='Drug Name', how='inner')

# Merge with pubchem_df on 'cid' for Drug_B
ddinter_drugA_drugB_joined = pd.merge(ddinter_drugA_drugB_joined, pubchem_df, on='cid', how='inner')

# Rename columns for Drug_B (add _B suffix)
drug_b_columns = ['cid'] + list(pubchem_df.columns)  # cid and all the numerical properties from pubchem_df
ddinter_drugA_drugB_joined = ddinter_drugA_drugB_joined.rename(columns={col: f"{col}_B" for col in drug_b_columns})

# Display the result
ddinter_drugA_drugB_joined.head()

,Drug_A,Drug_B,Level,Drug Name_x,cid_A,mw_A,polararea_A,complexity_A,xlogp_A,heavycnt_A,...,monoisotopicmass_B,charge_B,covalentunitcnt_B,isotopeatomcnt_B,totalatomstereocnt_B,definedatomstereocnt_B,undefinedatomstereocnt_B,totalbondstereocnt_B,definedbondstereocnt_B,undefinedbondstereocnt_B
0,Naltrexone,Abacavir,1,Naltrexone,4428.0,341.4,70.0,621.0,1.9,25,...,286.154,0,1,0,2,0,2,0,0,0
1,Naltrexone,Abacavir,1,Naltrexone,4428.0,341.4,70.0,621.0,1.9,25,...,286.154,0,1,0,2,1,1,0,0,0
2,Naltrexone,Abacavir,1,Naltrexone,4428.0,341.4,70.0,621.0,1.9,25,...,384.122,0,2,0,2,1,1,0,0,0
3,Naltrexone,Abacavir,1,Naltrexone,4428.0,341.4,70.0,621.0,1.9,25,...,286.154,0,1,0,2,2,0,0,0,0
4,Naltrexone,Abacavir,1,Naltrexone,4428.0,341.4,70.0,621.0,1.9,25,...,670.276,0,3,0,4,4,0,0,0,0

In [71]:
# Change the datatype of 'cid_A' and 'cid_B' to categorical (factor)
ddinter_drugA_drugB_joined['cid_A'] = ddinter_drugA_drugB_joined['cid_A'].astype('category')
ddinter_drugA_drugB_joined['cid_B'] = ddinter_drugA_drugB_joined['cid_B'].astype('category')

# Display the final DataFrame structure with updated column types
ddinter_drugA_drugB_joined.dtypes

Drug_A                        object
Drug_B                        object
Level                          int64
Drug Name_x                   object
cid_A                       category
mw_A                         float64
polararea_A                  float64
complexity_A                 float64
xlogp_A                      float64
heavycnt_A                     int64
hbonddonor_A                   int64
hbondacc_A                     int64
rotbonds_A                     int64
exactmass_A                  float64
monoisotopicmass_A           float64
charge_A                       int64
covalentunitcnt_A              int64
isotopeatomcnt_A               int64
totalatomstereocnt_A           int64
definedatomstereocnt_A         int64
undefinedatomstereocnt_A       int64
totalbondstereocnt_A           int64
definedbondstereocnt_A         int64
undefinedbondstereocnt_A       int64
Drug Name_y                   object
cid_B                       category
mw_B                         float64
polararea_B                  float64
complexity_B                 float64
xlogp_B                      float64
heavycnt_B                     int64
hbonddonor_B                   int64
hbondacc_B                     int64
rotbonds_B                     int64
exactmass_B                  float64
monoisotopicmass_B           float64
charge_B                       int64
covalentunitcnt_B              int64
isotopeatomcnt_B               int64
totalatomstereocnt_B           int64
definedatomstereocnt_B         int64
undefinedatomstereocnt_B       int64
totalbondstereocnt_B           int64
definedbondstereocnt_B         int64
undefinedbondstereocnt_B       int64
dtype: object

In [72]:
# Columns to drop (non-predictors, excluding `cid_A` and `cid_B`)
columns_to_drop = ['Drug_A', 'Drug_B', 'Drug Name_x', 'Drug Name_y']

# Drop the columns except for `cid_A` and `cid_B` which will be kept as primary keys
ddinter_drugA_drugB_joined.drop(columns=columns_to_drop, inplace=True)

# Show the first few rows after dropping the columns
ddinter_drugA_drugB_joined.head()

,Level,cid_A,mw_A,polararea_A,complexity_A,xlogp_A,heavycnt_A,hbonddonor_A,hbondacc_A,rotbonds_A,...,monoisotopicmass_B,charge_B,covalentunitcnt_B,isotopeatomcnt_B,totalatomstereocnt_B,definedatomstereocnt_B,undefinedatomstereocnt_B,totalbondstereocnt_B,definedbondstereocnt_B,undefinedbondstereocnt_B
0,1,4428.0,341.4,70.0,621.0,1.9,25,2,5,2,...,286.154,0,1,0,2,0,2,0,0,0
1,1,4428.0,341.4,70.0,621.0,1.9,25,2,5,2,...,286.154,0,1,0,2,1,1,0,0,0
2,1,4428.0,341.4,70.0,621.0,1.9,25,2,5,2,...,384.122,0,2,0,2,1,1,0,0,0
3,1,4428.0,341.4,70.0,621.0,1.9,25,2,5,2,...,286.154,0,1,0,2,2,0,0,0,0
4,1,4428.0,341.4,70.0,621.0,1.9,25,2,5,2,...,670.276,0,3,0,4,4,0,0,0,0

In [73]:
# Create a new DataFrame for storing the connection between 'cid_A' and 'cid_B'
cid_connection_df = ddinter_drugA_drugB_joined[['cid_A', 'cid_B']].reset_index(drop=True)

# Set up feature matrix (train_X) and target vector (train_y)
train_X = ddinter_drugA_drugB_joined.drop(columns=['Level', 'cid_A', 'cid_B'])  # Drop 'cid_A' and 'cid_B' from features
train_y = ddinter_drugA_drugB_joined['Level']  # The target is the 'Level' column

# Split the dataset into training and testing sets (train_X, train_y, test_X, test_y)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_X, train_y, test_size=0.2, random_state=42)

In [74]:
# Display the first few rows of the final training and testing sets without the 'cid_A' and 'cid_B' columns
X_train.head()

,mw_A,polararea_A,complexity_A,xlogp_A,heavycnt_A,hbonddonor_A,hbondacc_A,rotbonds_A,exactmass_A,monoisotopicmass_A,...,monoisotopicmass_B,charge_B,covalentunitcnt_B,isotopeatomcnt_B,totalatomstereocnt_B,definedatomstereocnt_B,undefinedatomstereocnt_B,totalbondstereocnt_B,definedbondstereocnt_B,undefinedbondstereocnt_B
2010276,472.50,212.0,704.0,NaN,34,6,13,9,472.1820,472.1820,...,481.168,0,1,0,2,0,2,1,1,0
363535,44.05,17.1,10.3,-0.3,3,0,1,0,44.0262,44.0262,...,4111.120,0,1,0,30,30,0,0,0,0
2544705,1041.80,629.0,2110.0,NaN,58,3,38,12,1040.7100,1040.7100,...,361.144,0,1,0,1,1,0,0,0,0
2049367,281.35,46.9,413.0,2.1,21,1,3,2,281.1530,281.1530,...,320.111,0,2,0,1,0,1,0,0,0
996317,359.40,96.8,469.0,3.1,25,1,6,7,359.1230,359.1230,...,392.200,0,1,0,8,7,1,0,0,0

In [75]:
X_test.head()

,mw_A,polararea_A,complexity_A,xlogp_A,heavycnt_A,hbonddonor_A,hbondacc_A,rotbonds_A,exactmass_A,monoisotopicmass_A,...,monoisotopicmass_B,charge_B,covalentunitcnt_B,isotopeatomcnt_B,totalatomstereocnt_B,definedatomstereocnt_B,undefinedatomstereocnt_B,totalbondstereocnt_B,definedbondstereocnt_B,undefinedbondstereocnt_B
2553991,293.40,39.8,440.0,2.3,22,0,2,2,293.153,293.153,...,822.405,0,1,0,9,9,0,4,4,0
2115702,416.50,95.9,619.0,1.4,30,2,6,10,416.231,416.231,...,141.931,0,3,0,0,0,0,0,0,0
1745423,408.00,55.2,463.0,4.2,27,1,5,6,407.174,407.174,...,241.123,0,2,0,1,0,1,0,0,0
1497638,270.40,37.3,418.0,3.1,20,1,2,0,270.162,270.162,...,747.477,0,1,0,18,18,0,0,0,0
2251875,323.35,93.1,486.0,3.2,23,2,6,6,323.145,323.145,...,361.180,0,1,0,2,0,2,0,0,0

In [76]:
y_train.head()

2010276    1
363535     1
2544705    1
2049367    1
996317     1
Name: Level, dtype: int64

In [77]:
y_test.head()

2553991    1
2115702    1
1745423    1
1497638    1
2251875    1
Name: Level, dtype: int64

In [78]:
# Display the connection DataFrame for later reference
cid_connection_df.head()

    cid_A     cid_B
0  4428.0    1971.0
1  4428.0   65140.0
2  4428.0   65141.0
3  4428.0  441300.0
4  4428.0  441384.0

In [79]:
import os

# Create a shorter folder name for storing both the training and testing datasets
folder_name = "train_test"

# Define the full path for the subfolder
data_dir = os.path.join("data", folder_name)

# Make sure the directory exists, if not, create it
os.makedirs(data_dir, exist_ok=True)

# Save X_train and y_train as separate CSV files
X_train.to_csv(os.path.join(data_dir, 'X_train.csv'), index=False)
y_train.to_csv(os.path.join(data_dir, 'y_train.csv'), index=False)

# Save X_test and y_test as separate CSV files
X_test.to_csv(os.path.join(data_dir, 'X_test.csv'), index=False)
y_test.to_csv(os.path.join(data_dir, 'y_test.csv'), index=False)

# Confirm that the files have been saved
print("Training and testing data saved successfully in the 'train_test' folder!")

Training and testing data saved successfully in the 'train_test' folder!

In [ ]:
# # Save the final DataFrame as a CSV file in the 'data' folder
# output_path = "data/final_joined_data.csv"
# ddinter_drugA_drugB_joined.to_csv(output_path, index=False)

# # Confirm that the file has been saved
# import os
# os.path.exists(output_path)

True